/* Definição */

:root {
    --corprincipal: rgb(3, 2, 26);
    --corsecundaria: rgb(112, 137, 147);
    --corterceira: rgb(82, 0, 0);
    --corquarta: rgb(44, 44, 44);
    --texto: rgb(105, 4, 4);
    --caixas: rgb(34, 34, 34);
    --subtitulo: rgb(139, 33, 33);
    --titulo: rgb(255, 255, 255);
}

/* Geral */

body{
    padding: 0;
    margin: 0;
    color: var(--titulo);
    background-color: var(--corquarta);
    font-family: "Delius", cursive;
}

header{
    text-align: center;
    font-weight: bold;
    background-color: var(--corprincipal);
    padding: 2%;
    font-size: 190%;
    padding-left: 28%;
}

#Principal{
    margin: 5%;
    gap: 5%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    color: var(--subtitulo);
}

#home{
    font-size: 60%;
    margin-left: 30%;
}

/* Cada div de materia*/

h3{
    z-index: -1;
    position:relative;
}

.slide{
    justify-items: center;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    background-color: var(--caixas);
    padding: 2%;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: var(--texto);
}

.conteudo:hover{
    margin: -5%;
    width: 110%;
    height: 110%;
    background-color: var(--corterceira);
    transition: all 0.3s ease-in-out;
    color: var(--caixas);
}

img{
    width: 80%;
    aspect-ratio: 6 / 4; 
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    margin-top: 5%;
    margin-bottom: 4%;
}

a{
    text-decoration: none;
    color: inherit;
}